# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  -   id: trailing-whitespace
  -   id: end-of-file-fixer
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v3.0.3
  hooks:
  - id: prettier
    files: zimui\/.*$ # files in zimui folder
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v9.39.1
  hooks:
  - id: eslint
    types: [file]
    files: zimui\/src\/.*(?:\.[jt]sx?|\.vue)$ # *.js, *.jsx, *.ts, *.tsx, *.vue in zimui/src folder
    args:
    - --config
    - zimui/eslint.config.js
- repo: https://github.com/psf/black
  rev: "25.11.0"
  hooks:
  -   id: black
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
  - id: ruff
- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.407
  hooks:
  - id: pyright
    name: pyright (system)
    description: 'pyright static type checker'
    entry: pyright
    language: system
    'types_or': [python, pyi]
    require_serial: true
    minimum_pre_commit_version: '2.9.2'
