python-slugify==3.0.3
# youtube-dl should be updated as frequently as possible
yt-dlp
python-dateutil==2.8.0
jinja2>=2.11,<3.0
# jinja2 dependency (https://github.com/pallets/markupsafe/issues/284)
MarkupSafe==2.0.1
zimscraperlib>=1.6.2,<1.7
requests>=2.26.0,<3.0
kiwixstorage>=0.8.1,<1.0
pif==0.8.2
