* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "RobotoLight";
    src: url("font/Roboto-Light.ttf");
}


@font-face {
    font-family: "RobotoLightItalic";
    src: url("font/Roboto-LightItalic.ttf");
}

@font-face {
    font-family: "RobotoBold";
    src: url("font/Roboto-Bold.ttf");
}

body {
    background: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
}

h1 {
    font-family: "RobotoBold";
    font-size: 4em;
    font-weight: 400;
    margin: 0 0 20px;
    text-align: center;
}

hr {
    margin: 1em 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#top-link {
    position: absolute;
    padding: 5px;
}

#header {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    background: white;
    background-image: url('img/header.png');
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    margin: 0 0 1em 0;
}

#header-profile {
    margin: 0 0 0 1em;
}

#header-line {
    padding: 205px 10px 0px 10px;
    margin: 0xp;
    font-size: 30px;
    font-weight: bold;
}

#header-playlists {
    float: right;
}

#author {
    font-family: "RobotoLight";
    font-size: 15px;
}

#title {
    font-family: "RobotoBold";
    font-size: 18px;
}

#title-img {
    width: 280px;
    padding-top: 10px;
}

#meta-data {
    font-family: "RobotoLight";
}

.centered {
    text-align: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

ul.grid-nav {
    list-style: none;
    font-size: .85em;
    font-weight: 200;
    text-align: center;
}

ul.grid-nav li {
    display: inline-block;
}

ul.grid-nav li a {
    display: inline-block;
    background: #999;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

ul.grid-nav li a:hover {
    background: #7b0;
}

ul.grid-nav li a.active {
    background: #333;
}

.grid-container {
    display: none;
}

/* ----- Image grids ----- */
ul.rig {
    list-style: none;
    font-size: 0px;
    margin-left: -2.5%;
}
ul.rig li {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul.rig li img {
    margin: 0 0 10px;
}

ul.rig li h3 {
    margin: 0 0 5px;
}

ul.rig li p {
    font-size: .9em;
    line-height: 1.5em;
}

ul.rig.grid li {
    width: 22.5%; 
    cursor: pointer;
}


@media (max-width: 1199px) {
    .container {
        width: auto;
        padding: 0 10px;
    }

    ul.rig.grid li {
        width: 30.83%;
    }
}

@media (max-width: 820px) {
    .container {
        width: auto;
        padding: 0 10px;
    }

    ul.rig.grid li {
        width: 47.5%;
    }
}

@media (max-width: 530px) {
    .container {
        width: auto;
        padding: 0 10px;
    }

    #video-items {
        padding: 20px;
    }

    ul.rig.grid li {
        width: 100%;
    }
}

div#menuwrapper {
    margin-top: 10px;
    margin: 0px auto;
    text-align: left;
}

div#content {
    clear: both;
    margin-top: 100px;
}

nav ul {
    padding: 0px;
    margin: 0px;
    margin-right: 10px;
    box-shadow: 2px 2px 2px #dfdfdf;
}

nav ul:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

nav ul,nav ul li{
    background-color: #DCDCDC;
}

nav ul li {
    list-style: none;
    float:left;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #333;
    padding: 14px 34px 14px 34px;

    transition: background 0.3s ease-out; /* explorer 10 */
    -webkit-transition: background 0.3s ease-out; /* chrome & safari */
    -moz-transition: background 0.3 ease-out; /* firefox */
    -o-transition: background 0.3 ease-out; /* opera */
}

nav ul li.menu:hover a, nav ul li.menu:hover > ul li a  {
    background-color: #e62b1e;
}

nav ul li:hover > a {
    color: #FAFAFA;
}

nav ul li:hover > ul {
    visibility: visible;
}

nav ul li ul{
    display: inline;
    visibility: hidden;
    position: absolute;
    padding:0px;
}

nav ul li ul li{
    float: none;
}

nav ul li ul li a {
    color: #FAFAFA;
}

nav ul li ul li a:hover{
    color: #333;
    background-color: #FAFAFA !important;
}

div.backtotop {
    margin: auto 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 250px;
    text-align: center;
    height: 35px;
    display: flex; 
    display: -webkit-flex;
    float: left;
    color: #000000;
    cursor: pointer;
}

.pagination {
    margin: auto 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 250px;
    text-align: center;
    height: 35px;
    display: flex; 
    display: -webkit-flex;
    float: right;
    color: #000000;
}

.pagination-text {
    margin: auto;
}

.left-arrow {
    cursor: pointer;
    width:20px;
    padding-left:20px;
    padding-right:20px;
    margin: auto auto auto auto;
}

.right-arrow {
    cursor: pointer;
    width:20px;
    padding-left:20px;
    padding-right:20px;
    margin: auto auto auto auto;
 }

a.nostyle:link {
    text-decoration: none;
    color: #000000;
}

a.nostyle:visited {
    text-decoration: none;
    color: #000000;
}

a.nostyle:hover {
    text-decoration: none;
    color: #000000;
}

a.nostyle:active {
    text-decoration: none;
    color: #000000;
}

