name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test-scraper:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: scraper/pyproject.toml
          architecture: x64

      - name: Install dependencies (and project)
        working-directory: scraper
        run: |
          pip install -U pip
          pip install -e .[test,scripts]

      - name: Run the tests
        working-directory: scraper
        run: inv coverage --args "-vvv"

      - name: Upload coverage report to codecov
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

  build-scraper:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: scraper/pyproject.toml
          architecture: x64

      - name: Ensure we can build Python targets
        working-directory: scraper
        run: |
          pip install -U pip build
          python3 -m build --sdist --wheel

  build-and-test-zimui:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: zimui/.node-version

      - name: Install dependencies
        working-directory: zimui
        run: |
          yarn install

      - name: Build
        working-directory: zimui
        run: |
          yarn build

      - name: Start web server
        working-directory: zimui
        run: |
          yarn preview &

      - name: Wait for web server to be ready
        run: |
          npx wait-on http://localhost:5173

      - name: Run frontend tests
        run: |
          cd zimui
          $(yarn bin)/cypress run

  # this job replaces the standard "build_docker" job since it builds the docker image
  run-integration-tests:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Ensure we can build the Docker image
        run: |
          docker build -t youtube2zim .

      - name: Run scraper
        env:
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
          OPTIMIZATION_CACHE_URL: ${{ secrets.OPTIMIZATION_CACHE_URL }}
        run: docker run -v $PWD/output:/output youtube2zim youtube2zim --api-key "$YOUTUBE_API_KEY" --optimization-cache "$OPTIMIZATION_CACHE_URL" --type channel --id "UC8elThf5TGMpQfQc_VE917Q" --name "openZIM_testing" --zim-file "openZIM_testing.zim"

      - name: Run integration test suite
        run: docker run -v $PWD/scraper/tests-integration/integration.py:/src/scraper/tests-integration/integration.py -v $PWD/output:/output youtube2zim bash -c "pip install pytest; pytest -v /src/scraper/tests-integration/integration.py"
